/* ! nullish styles */
* {
  font-family: cursive, Arial, Helvetica, monospace, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}
h1 {
  font-weight: 400;
}

/* ! end nullish styles */

/* ! form */
.form__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  min-height: 100vh;
}

.title {
  font-size: 30px;
  text-align: center;
  font-weight: normal;
}

.first-section {
  border-radius: 5px;
  border: 1px solid;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
}

.first-section input,
select {
  padding: 3px;
}

select option {
  text-align: center;
}

.buttons {
  display: flex;
  gap: 10px;
}

#signIn,
#signUp {
  font-size: 17px;
  border: none;
  cursor: pointer;
  color: white;
  background: #1560bd;
  padding: 8px 25px;
  border-radius: 5px;
  width: 120px;
}
/* ! end form */

/* ! info section */

#wrapper {
  display: none;
  min-height: 100vh;
  justify-content: end;
}

.info {
  position: fixed;
  width: 25vw;
  top: 0;
  left: 0;
  height: 100vh;
  padding: 20px;
  background-color: white;
  display: flex;
}

.info__content {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  background-color: #e2e8f0;
  padding: 10px;
  padding-bottom: 20px;
  border-radius: 10px;
  box-shadow: inset 0px 0px 8px rgb(87, 86, 86);
  gap: 40px;
}

.info__username {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}

/* ! color changing for dificulty */
.green {
  color: green;
}

.red {
  color: red;
}

.yellow {
  color: #d6d612;
}
/* ! end color changing for dificulty */

.info__level {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  gap: 5px;
}

/* ! info's list section */
.info__list {
  text-align: center;
  padding-bottom: 10px;
}

/* ! changing degree of svg image */
.list__arrow {
  width: 10px;
  height: 10px;
  transform: rotate(0deg);
  transition: transform 0.5s;
}

.list__arrow-click {
  width: 10px;
  height: 10px;
  transform: rotate(180deg);
  transition: transform 0.5s;
}
/* ! end changing degree of svg image */

.info__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
  padding-right: 10px;
}

/*! customizing scrollbar of info__list */
.info__list::-webkit-scrollbar {
  width: 10px;
}

/*! customizing scrollbar of info__list */
.info__list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/*! customizing scrollbar of info__list */
.info__list::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

.list__lists {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list__item {
  display: flex;
  flex-direction: column;
}

/* ! list's dropdown */
.item__user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.2s;
}

.item__user-active {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  transition: background 0.2s;
}

.item__user:hover {
  background-color: #f9f9f9;
  transition: background 0.2s;
}

.item__user:active {
  background-color: #f3f3f3;
  transition: background 0.2s;
}
/* ! end list's dropdown  */

.item__results {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  gap: 10px;
}

.item__divider {
  width: 100%;
  height: 2px;
  background-color: black;
}
/* ! end info's list section */
/* ! end info */

/* ! test section */
.test {
  width: 75vw;
  background-color: white;
  z-index: 1;
  padding: 20px;
  display: flex;
}

.test__content {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  gap: 20px;
}

.test__section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.test__buttons {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.test__button {
  padding: 7px 14px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #1976d2;
  font-size: 17px;
  font-weight: 500;
  color: white;
  transition: all 0.1s;
}

.test__button:hover {
  background-color: #1565c0;
  box-shadow: 0.9px 0.9px 8px rgb(21, 81, 159);
  transition: all 0.1s;
}

.test__button:active {
  background-color: #5c94d3;
  transition: all 3ms;
}

.green-answer {
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 500;
  color: white;
  padding: 7px 14px;
  background-color: #0c8913;
  cursor: no-drop;
  border: none;
  border-radius: 5px;
  gap: 10px;
}

.red-answer {
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 500;
  color: white;
  padding: 7px 14px;
  cursor: no-drop;
  border: none;
  border-radius: 5px;
  background-color: #ae1c4f;
  gap: 10px;
}

.test__img {
  max-width: 30px;
  max-height: 30px;
}

/* ! pop up ========================================= */

.button {
  padding: 7px 14px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #1976d2;
  font-size: 17px;
  font-weight: 500;
  color: white;
  transition: all 0.1s;
  text-decoration: none;
}

.button:hover {
  background-color: #1565c0;
  box-shadow: 0.9px 0.9px 8px rgb(21, 81, 159);
  transition: all 0.1s;
}

.button:active {
  background-color: #5c94d3;
  transition: all 3ms;
}

.overlay {
  position: fixed;
  z-index: 3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
}

.popup {
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  display: flex;
  transition: all 5s ease-in-out;
}

.popup .content {
  max-height: 30%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pop-up__header {
  text-align: center;
  font-size: 25px;
  order: 0;
}

.popUp__results {
  display: flex;
  flex-direction: column;
  gap: 5px;
  order: 1;
}
.popup .pop-up__buttons {
  display: flex;
  gap: 15px;
  order: 2;
}

.try-again__pop-up___content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pop-up__button {
  order: 0;
}

.pop-up__button1 {
  order: 1;
}

.try-again__overlay {
  position: fixed;
  z-index: 3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
}

.try-again__popup {
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  position: relative;
  transition: all 5s ease-in-out;
}

.try-again__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

#tryAgainDificulity {
  width: 60%;
}

.try-again__content button {
  align-self: center;
  width: 80%;
}

.item__user___overlay {
  z-index: 3;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
}

.item__user___pop-up {
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  position: relative;
  /* transition: all 5s ease-in-out; */
}

.item__user___content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.item__user___cross {
  position: absolute;
  right: 0;
  top: 0;
}

.pop-up__dificulity {
  font-size: 14px;
}

.info__arrow {
  display: none;
}

/* * Large desktop */
@media (min-width: 1200px) {
}

/* * Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  .list__points,
  .list__dificulity,
  .list__passed,
  .test__question,
  #points,
  .info__passed,
  .info__title,
  .info__dificulity,
  .pop-up__results,
  .item__results,
  .pop-up__header,
  .item__user p,
  .item__user-active p,
  .list__item__nobody,
  .info__list a {
    font-size: 19px;
  }
  .info__username {
    font-size: 24px;
  }
  .button,
  .test__button,
  .red-answer,
  .green-answer,
  .pop-up__button,
  .pop-up__button1 {
    padding: 3.7px 7px;
    font-size: 19px;
  }
  .item__user {
    padding: 3.7px 7px;
  }
  .try-again__content {
    gap: 20px;
  }

  .info__list {
    gap: 10px;
  }

  .try-again__pop-up___content {
    gap: 5px;
  }
  .info {
    width: 25vw;
    padding: 10px;
  }
  .test {
    width: 75vw;
    padding: 10px;
  }
  .info__content {
    gap: 20px;
  }
  .info__arrow {
    display: none;
  }
}

/* ! Landscape phone to portrait tablet */
@media (min-width: 480px) and (max-width: 768px) {
  .test__question,
  #points,
  .info__passed,
  .info__title,
  .info__dificulity,
  #tryAgainDificulity,
  .item__user-active p,
  .item__user p,
  .list__points,
  .list__dificulity,
  .list__passed,
  .popup .content p,
  .pop-up__results,
  .pop-up__header,
  .list__item__nobody,
  .info__list a {
    font-size: 19px;
  }
  .popup .content h1,
  .info__username {
    font-size: 24px;
  }

  .list__arrow,
  .list__arrow-click {
    width: 12px;
    height: 12px;
  }

  .list__lists,
  .info__list {
    gap: 5px;
  }

  .info__dificulity,
  .info__passed,
  #points {
    font-weight: 400;
  }
  .info__level {
    gap: 3px;
  }

  .button,
  .test__button,
  .red-answer,
  .green-answer,
  .pop-up__button,
  .pop-up__button1 {
    padding: 3.7px 7px;
    font-size: 10px;
  }

  .item__user,
  .item__results {
    padding: 2px 6px;
  }

  .test__img {
    width: 10px;
    height: 10px;
  }

  .red-answer,
  .green-answer {
    gap: 5px;
  }

  .test__buttons {
    gap: 20px;
  }

  .test__section {
    gap: 10px;
  }

  .popup .content {
    gap: 10px;
  }

  .try-again__content {
    gap: 10px;
  }
  .try-again__pop-up___content {
    gap: 5px;
  }
  .info {
    width: 35vw;
    padding: 10px;
  }
  .test {
    width: 65vw;
    padding: 10px;
  }
  .info__content {
    gap: 10px;
  }
  .info__arrow {
    display: none;
  }
}

/* ? Media Queries Landscape phones and down */
@media (max-width: 480px) {
  .test__question,
  #points,
  .info__passed,
  .info__title,
  .info__dificulity,
  .item__user-active p,
  .item__user p,
  .list__points,
  .list__dificulity,
  .list__passed,
  .popup .content p,
  .pop-up__results,
  .pop-up__header,
  .list__item__nobody,
  .info__list a {
    font-size: 30px;
  }
  .popup .content h1,
  .info__username {
    font-size: 34px;
  }
  #tryAgainDificulity {
    font-size: 20px;
  }

  .item__user___pop-up {
    padding: 30px;
    border: 1px solid black;
    border-radius: 30px;
  }

  .pop-up__list___item {
    position: relative;
    width: 200px;
    height: 100px;
    border-radius: 10px;
    background-color: #eeeeee;
  }
  .pop-up__dificulity {
    color: #ec0000; /*todo ============================================================================================================== */
    margin-top: 5px;
    text-align: center;
  }

  .pop-up__passed-tests {
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
  }
  .pop-up__points {
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
  }

  .pop-up__exit {
    align-self: center;
    padding: 10px 55px 5px;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 18px;
    background-color: #149e0a;
  }

  #wrapper {
    position: relative;
    display: none;
    min-height: 100vh;
    justify-content: center;
  }

  .less-weight {
    font-weight: 400;
  }

  .info {
    position: fixed;
    width: 320px;
    padding: 0;
    z-index: 2;
    left: -320px;
    transition: all 1s;
  }

  .left {
    position: fixed;
    width: 60vw;
    padding: 0;
    z-index: 2;
    transition: all 1s;
    left: 0px;
  }

  .info__arrow-rotate {
    transform: rotate(180deg);
    transition: transform 1s;
    width: 20px;
    height: 20px;
  }
  .info__arrow-default {
    width: 20px;
    height: 20px;
    transform: rotate(0deg);
    transition: transform 1s;
  }
  .info__arrow {
    position: absolute;
    background-color: rgb(201, 201, 201);
    right: -25px;
    top: 50%;
    border-top-right-radius: 90px;
    border-bottom-right-radius: 90px;
    padding: 10px 3px 5px 2px;
    display: block;
  }

  .info__content {
    border-radius: 0px;
    box-shadow: 0px 0px 0px;
  }

  .test {
    padding: 10px;
  }

  .list__arrow {
    transform: rotate(90deg);
  }
  #popUpOfUsers {
    display: none;
  }

  .list__lists,
  .info__list {
    gap: 5px;
  }

  .info__dificulity,
  .info__passed,
  #points {
    font-weight: 400;
  }
  .info__level {
    gap: 3px;
  }

  #signIn,
  #signUp,
  .button,
  .test__button,
  .red-answer,
  .green-answer,
  .pop-up__button,
  .pop-up__button1 {
    padding: 7px 7px;
    font-size: 20px;
  }

  .item__user,
  .item__results {
    padding: 2px 6px;
  }

  .test__img {
    width: 20px;
    height: 20px;
  }

  .red-answer,
  .green-answer {
    gap: 5px;
  }

  .test__buttons {
    gap: 10px;
  }

  .test__section {
    gap: 10px;
  }

  .popup .content {
    gap: 10px;
  }

  .try-again__content {
    gap: 15px;
  }
  .try-again__pop-up___content {
    gap: 15px;
  }
  .info__content {
    gap: 10px;
  }
}
