body {
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}
/* ! nullish styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}
/* ! end nullish styles */

/* ! form */
.form__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  min-height: 100vh;
}

.title {
  font-size: 30px;
  text-align: center;
  font-weight: normal;
}

.first-section {
  border-radius: 5px;
  border: 1px solid;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
}

.first-section input,
select {
  padding: 3px;
}

select option {
  text-align: center;
}

.buttons {
  display: flex;
  gap: 10px;
}

#signIn,
#signUp {
  font-size: 17px;
  border: none;
  cursor: pointer;
  color: white;
  background: #1560bd;
  padding: 8px 25px;
  border-radius: 5px;
  width: 120px;
}
/* ! end form */

/* ! info section */

#wrapper {
  display: none;
  min-height: 100vh;
  justify-content: end;
}

.info {
  position: fixed;
  width: 25vw;
  top: 0;
  left: 0;
  min-height: 100vh;
  padding: 20px;
  background-color: white;
  display: flex;
}

.info__content {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  background-color: #e2e8f0;
  padding: 10px;
  border-radius: 10px;
  box-shadow: inset 0px 0px 8px rgb(87, 86, 86);
  gap: 40px;
}

.info__username {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}

/* ! color changing for dificulty */
.green {
  color: green;
}

.red {
  color: red;
}

.yellow {
  color: yellow;
}
/* ! end color changing for dificulty */

.info__level {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  gap: 5px;
}

/* ! info's list section */
.info__list {
  text-align: center;
}

/* ! changing degree of svg image */
.list__arrow {
  width: 10px;
  height: 10px;
  transform: rotate(0deg);
  transition: transform 0.5s;
}

.list__arrow-click {
  width: 10px;
  height: 10px;
  transform: rotate(180deg);
  transition: transform 0.5s;
}
/* ! end changing degree of svg image */

.info__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list__lists {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list__item {
  display: flex;
  flex-direction: column;
}

/* ! list's dropdown */
.item__user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.2s;
}

.item__user-active {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  transition: background 0.2s;
}

.item__user:hover {
  background-color: #f9f9f9;
  transition: background 0.2s;
}

.item__user:active {
  background-color: #f3f3f3;
  transition: background 0.2s;
}
/* ! end list's dropdown  */

.item__results {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
/* ! end info's list section */
/* ! end info */

/* ! test section */
.test {
  width: 75vw;
  background-color: white;
  z-index: 1;
  padding: 20px;
  display: flex;
}

.test__content {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  gap: 20px;
}

.test__section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.test__buttons {
  display: flex;
  gap: 30px;
}

.test__button {
  background-color: rgb(37, 37, 197);
  padding: 7px 14px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #1976d2;
  font-size: 17px;
  font-weight: 500;
  color: white;
  transition: all 0.1s;
}

.test__button:hover {
  background-color: #1565c0;
  box-shadow: 0.9px 0.9px 8px rgb(21, 81, 159);
  transition: all 0.1s;
}

.test__button:active {
  background-color: #5c94d3;
  transition: all 3ms;
}

.green-answer {
  font-size: 17px;
  font-weight: 500;
  color: white;
  background-color: #1b7a1f;
  padding: 7px 14px;
  cursor: no-drop;
  border: none;
  border-radius: 5px;
}

.red-answer {
  font-size: 17px;
  font-weight: 500;
  color: white;
  padding: 7px 14px;
  cursor: no-drop;
  border: none;
  border-radius: 5px;
  background-color: #ae1c4f;
}
